*{
	margin: 0;
	padding: 0;
}
body{ 
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
}
#box{
	width: 1000px;
	margin: 0 auto;
}

/*Topo*/
#header{height: 207px;width: 1000px; border-bottom: 9px solid #ccc;}
#header-logo{}
#header-anuncio{}
#header-search{}

/*LEFT SIDEBAR*/
#sidebar-left{height: 500px; width: 150px; float: left; background-color: pink}

/*CONTENT*/
#content{height: 500px; width: 650px;float: left; background-color: green;}

#content-destaque{}
#content-destaque-conteudo{}
#content-destaque-destaque{}

#content-entreterimento{}
#content-entreterimento-conteudo{}
#content-entreterimento-anuncio{}

#content-esportes{}
#content-esportes-conteudo{}
#content-esportes-comentados{}

#content-tecnologia{}
#content-tecnologia-destaque{}
#content-tecnologia-conteudo{}

#content-vistos{}
#content-vistos-conteudo{}
#content-vistos-anuncio{}

/*RIGHT SIDEBAR*/
#sidebar-right{height: 200px; width: 200px;float: right; background: yellow;}

/*FOOTER*/
#clear{clear: both;}
#footer-all{height: 115px; background: red;}
#footer{width: 980px;margin: 0 auto;padding: 15px 10px}
#footer-text{}